body {
    background-color:rgb(51, 51, 51);
}

img {
    display: block;
    max-width: 100%;
}

video{
    display: block;
    max-width: 100%;
}

.rounded-box {
    background-color: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 40px;
    border: 4px solid rgb(51, 51, 51);
    margin: 20px 0;


    &:last-child {
        margin-bottom: 0;
    }
  }